<h1>Eat-Da-Burger!</h1>


<ul>
  {{#each burgers}}
  	<li>
  		<p> {{this.id}}.&nbsp;{{this.burger_name}}</p>
      <button data-id="{{this.id}}" class="devour">Devour It!</button>
  	</li>
  {{/each}}
</ul>
<ul>
  {{#each devoured}}
  	<li class="devoured">
  		<p> {{this.id}}.&nbsp;{{this.buger_name}}</p>

  	</li>
  {{/each}}
</ul>

<form class="create-form" action="/api/burgers" method="POST">

  <div class="form-group">
    <label for="burg">Add a Burger:</label>
    <input type="text" id="burg" name="burger">
  </div>


  <button type="submit">Submit</button>
</form>
