<h1>Eat-Da-Burger!</h1>


<ul>
  {{#each burgers}}
  {{#unless this.devoured}}
  	<li>
  		<p> {{this.id}}.&nbsp;{{this.burger_name}}
        <form method="PUT">
      <button data-id="{{this.id}}" type="submit" class="devour">Devour It!</button></form></p>
  	</li>

  {{/unless}}
  {{/each}}
</ul>
<ul>
  {{#each burgers}}
  {{#if this.devoured}}
  	<li>
  		<p> {{this.id}}.&nbsp;{{this.burger_name}}
        </p>
  	</li>

  {{/if}}
  {{/each}}
</ul>

<form class="create-form" action="/api/burgers" method="POST">

  <div class="form-group">
    <label for="burg">Add a Burger:</label>
    <input type="text" id="burg" name="burger">
  </div>


  <button type="submit">Submit</button>
</form>
